# Ignore OS files
.DS_Store
Thumbs.db

# Ignore editor files
.vscode/
*.code-workspace

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
*.tmp
*.bak

# Ignore Python cache
__pycache__/
*.py[cod]
